@using TodoApp.Models
@using System.Globalization
@model List<Todo>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <div class="container">
        <a class="btn btn-primary my-2" href="/Todo/Create">Create</a>
        <ul class="list-group mb-4">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between">
                    @item.Title => @item.Deadline.ToString("dd MMMM yyyy | HH:mm", new CultureInfo("az")) 
                    @if(item.IdDone)
                    {
                        <span>(Task bitib)</span>
                    }
                    else if(item.Deadline >= DateTime.Now)
                    {
                        <span>(Gözlənilir)</span>
                    }
                    else
                    {
                        <span>(Vaxt bitib)</span>
                    }
                    <div class="btn-group mr-auto" role="group" aria-label="Basic mixed styles example">
                        @if (item.Deadline >= DateTime.Now && !item.IdDone)
                        {
                            <a href="/Todo/CompleteTask/@item.Id" class="btn btn-outline-success px-2"><i class="las la-check"></i></a>
                        }
                        <a href="#" class="btn btn-secondary">Bax</a>
                        <a href="/Todo/Update/@item.Id" class="btn btn-success">Düzəliş et</a>
                        <a href="/Todo/Delete/@item.Id" class="btn btn-danger">Sil</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
